<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script th:src="@{webjars/jquery/3.2.1/jquery.js}"></script>
<script type="text/javascript">
//使用jQuery中的ajax进行请求的发送
	$(document).ready(function(){
		$("input[type=button]").click(function(){
			$.ajax({
				type:"post",
				url:"showJson",
				 contentType:"application/json",/* 设置ajax请求数据为json  */
				data:JSON.stringify({"name":"zhansgan","id":"123"}),
				success:function(data){
					alert(data.name);
				}
			});
		})		
	})
	
		//通过Ajax响应数据:单个对象
	$(document).ready(function(){
		/* $("#name").click(function(){ */
			$.ajax({
				type:"post",
				url:"aj",
				success:function(data){
					$("#aj").empty();
					$("#aj").append("<tr><td>name</td><td>id</td></tr>");
				
						var result="<tr>";
						result+="<td>"+data.name+"</td>";
						result+="<td>"+data.id+"</td></tr>";
						$("#aj").append(result);
				}
			});
		})		
	/* }) */
	
	
	

	function ajtest(){
			$.post("aj",function(data){	
				
				$("#aj").empty();
				$("#aj").append("<tr><td>name</td><td>id</td></tr>");
			
					var result="<tr>";
					result+="<td>"+data.name+"</td>";
					result+="<td>"+data.id+"</td></tr>";
					$("#aj").append(result);
				
			})
		}
	
	
	function ajatest(){
		$.post("aja",function(data){	
				$("#aja").empty();
				$("#aj").append("<tr><td>name</td><td>id</td></tr>");
		
					var result="<tr>";
					result+="<td>"+data[0].name+"</td>";
					result+="<td>"+data[0].id+"</td></tr>";
					$("#aja").append(result);
					var result1="<tr>";
					result1+="<td>"+data[1].name+"</td>";
					result1+="<td>"+data[1].id+"</td></tr>";
					$("#aja").append(result1);
			})
		}
	</script>
</head>
<body>
<table border="1px" id="aj">
		<tr>
			<td>name</td>
			<td>id</td>
		</tr>
	</table>
<input type="button" value="测试json" />
<input type="submit" value="测试ajax"  onclick="ajtest()"/>
<input type="submit" value="测试ajax-List"  onclick="ajatest()"/>
</body>
</html>